<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147403511570-o66cnh6fandrdan48dediito32835tpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147403511570-o66cnh6fandrdan48dediito32835tpc</string>
	<key>API_KEY</key>
	<string>AIzaSyCEJLEMbOVY9XmRu75cFznDJ7TJYrSGUzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>147403511570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alex-Vasquez.ProyectoFinal</string>
	<key>PROJECT_ID</key>
	<string>rufino-tamayo-1452f</string>
	<key>STORAGE_BUCKET</key>
	<string>rufino-tamayo-1452f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147403511570:ios:0f423364d9d7568bdf85cb</string>
</dict>
</plist>